  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
}
.container{
    padding: 0 16px;
}
ul{
    padding-inline-start: 0;
}
.logo-yt img{
   max-height: 35px;
   max-width: auto;
   background: #fff;
}
header.site-header{
    z-index: 9;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
.start-hd-yt{
    display: flex;
    align-items: center;
}
.start-hd-yt .bars button{
    display: block;
    background: none;
    border: none;
    font-size: 18px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}
.logo-yt{
    position: relative;
}
.logo-yt::after{
    content: "VN";
    position: absolute;
    right: -30px;
    top: -10px;
}
.start-hd-yt .bars button:hover{
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 100%;
}
.center-yt{
    flex: 0 1 728px;
}
.center-yt input{
    width: 100%;
    height: 38px;
    border-radius: 40px 0 0 40px;
    border: 0.5px solid #888;
    padding-left:25px;
    border-right: none;
}
.search-gr{
    display: flex;
}
.search-gr .submit button{
    color: #fff;
    border-radius: 0 40px 40px 0;
    height: 100%;
    border: 0.5px solid #888;
    background-color: #f8f8f8;
    padding: 0 25px;
    font-size: 18px;
    color: #555;
    cursor: pointer;
}
/* .search-gr .mic{
    display: flex;
    align-items: center;
    margin-left: 25px;
} */
.search-gr .mic a{
    font-size: 18px;
    display: flex; 
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    color: #000;
}
.search-gr .mic a:hover{
    border-radius: 100%;
    background-color: #f8f8f8;
}
.end-hd-yt{
    display: flex;
    padding-right: 20px;
}
.icon-yt a {
    width: 40px ;
    height: 40px;
    border-radius: 100%;
    font-size: 18px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #000;
}
.icon-yt a:hover{
    background-color: #f8f8f8;
}
.user-avt > a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    background-color: #5d4038;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    list-style-type: none;
    border-radius: 100%;
    margin-left: 25px;
}
.user-avt .show_mysef{
    display: none;
}
.user-avt {
    position: relative;
   
}
.user-avt.show .show_mysef{
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background: #fff;
    /* padding: 20px 20px 0 20px; */
    border-radius: 15px;
    box-shadow: 1px 1px #fff;
}
.top-mysef{
    display: flex;
    border-bottom: 1px solid #f8f8f8;
    padding: 15px;
    margin-bottom: 10px;
}
.img-avt-ms{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d4038;
    color: #f8f8f8;
    margin-right: 15px;
}
.name-mysef .name,
.name-mysef .email{
    font-size: 16px;
    line-height: 22px;
}
.name-mysef > a{
    font-size: 14px;
    line-height: 20px;
    color: rgba(6, 95, 212, 1);
    text-decoration: none;
    margin-top: 15px;
    display: block;
}
.show_mysef ul{
    border-bottom: 1px solid #555;
}
.show_mysef ul:last-child{
    border-bottom: none;
}
.show_mysef ul li{
    list-style-type: none;
    padding: 10px 0;
    padding-left: 15px;
}
.show_mysef ul li:hover{
    background-color: #888;
}
.show_mysef ul li a{
    font-size: 14px ;
    line-height: 20px;
    color: #0F0F0F;
    text-decoration: none;
}
.show_mysef ul li a i{
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
}
.icon-yt{
    position: relative;
}
.icon-yt .show--bell{
    display: none;
}
.icon-yt .update-vd{
    display: none;
}
.icon-yt.show_update .update-vd{
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    right: 0;
    top: 101%;
    width:200px;
    padding: 15px 0;
    border-radius: 10px;
}
.icon-yt.show_update .update-vd ul li{
    padding: 10px 20px; list-style-type: none;
}
.icon-yt.show_update .update-vd ul li:hover,
.icon-yt.show_update .update-vd ul li a:hover{
    background-color: #888 ;
   
}
.icon-yt.show_update .update-vd ul li a{
    font-size: 16px;
    line-height: 22px;
    width: unset;
    height: unset;
    text-decoration: none;
}
.icon-yt.show_bell .show--bell{
    display: block;
    position: absolute;
    right: 0;
    top: 101%;
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
}
.top--bell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #888;
}
.display-tb{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.display-tb h4{
    font-size: 16px;
    line-height: 22px;
    color: #606060;
    margin-bottom: 13px;
}
.display-tb p{
    font-size: 14px;
    line-height: 20px;
    color: #606060;
}
/* =========mian======= */
.main-content{
    display: flex;
    margin-top: 20px;
    justify-content: end;
}

.sidebar-yt::-webkit-scrollbar{
    width: 8px;
    /* background-color: #888; */
    
}
.sidebar-yt::-webkit-scrollbar-thumb {
    background-color: #888;
    /* height: 100px */;
    border-radius: 10px;
    display: none;
}
.sidebar-yt:hover::-webkit-scrollbar-thumb{
    display: block;
}
body {
    -ms-overflow-style: none; /* cho  Internet Explorer, Edge */
    scrollbar-width: none; /* cho Firefox */
    overflow-y: scroll; 
  }
body::-webkit-scrollbar {
     width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
}
/* .content-yt::-webkit-scrollbar{
    width: 8px;
}
.content-yt::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
} */
.sidebar-yt{
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    max-width: 16.1%;
    width: 100%;
    /* height: 100vh; */
    /* min-height: 450px; */
    overflow-y: scroll;
    background: #fff;
    padding-left: 16px;
}
ul.sbar-yt.chanel-yt h2{
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
}
.sidebar-yt ul{
    padding-inline-start: 0;
}
.sidebar-yt ul li.active{
    background-color: #f8f8f8;
}
.sidebar-yt ul li{
    list-style-type: none;
    padding: 15px 10px;
    border-radius: 15px;
    max-width: 204px;
    cursor: pointer;
}
.sidebar-yt ul li:hover{
    background-color: #f8f8f8;
}
.sidebar-yt ul li .flex-ct-ic{
    display: flex;
    align-items: center;
}
.sidebar-yt ul li .flex-ct-ic .icon{
    margin-right: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 24px;
}
.sidebar-yt ul li .flex-ct-ic .text-ct{
    font-size: 14px;
    line-height:20px ;
    font-family: 'Roboto', sans-serif;
}
ul.sbar-yt{
    border-bottom: 1px solid #888;
    padding-bottom: 15px;
}
.icon.avt img{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    object-fit: cover;
}
ul.sbar-yt.chanel-yt ul li{
    padding: 10px 15px;
}
ul.home-yt.sbar-yt{
    margin-bottom: 20px;
}
.sidebar-yt ul li .flex-ct-ic .text-ct{
    overflow: hidden;
}
.sidebar-yt ul li .flex-ct-ic .text-ct {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    font-size: 14px;
    /* line-height: 1; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-yt .crossbar ul li{
    display: inline-block;
    list-style-type: none;
    padding: 8px 12px;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.crossbar ul li.active{
    background-color: #000;
}
.content-yt .crossbar ul li.active a{
    color: #fff ;
}
.content-yt .crossbar ul li + li {
    margin-left: 20px;
}
.content-yt .crossbar ul li a {
    text-decoration: none;
    color: #000;
}
.content-yt .crossbar ul li a:hover{
    color: #555;
}
.content-yt{
    padding-top: 111px;
    padding-left: 30px;
    flex-basis: calc(100% - 17.1%);
}
.row-ct{
    margin-top: 10px;
}
.avt-and-tl{
    display: flex;
    /* align-items: center; */
    margin-top: 15px;
}
.img-box img{
    width: 100%;
    border-radius: 15px;
    max-height: 200px;
    object-fit: cover;
}
.avt-and-tl .avatar-author img{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.avt-and-tl a{
    text-decoration: none;
}
.text-lq{
    margin-left: 15px;
}
.avt-and-tl a h3{
    color: #000;
    font-size: 14px;
    line-height: 20px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-left: 20px; */
}
.author-vd span{
    font-size: 12px;
    line-height: 16px;
}
.view--time span{
    font-size: 12px ;
    line-height: 18px;
}
.view--time span.time-qk::before{
    content: '';
    display: inline-block;
    width: 2.5px;
    height: 3px;
    border-radius: 50%;
    background-color: #555;
    margin-bottom: 3px;
}
.row-ct{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-vd{
    flex-basis: calc( (100% - 50px ) / 4);
    margin-bottom: 50px;
    /* flex-wrap: wrap; */
}
.compact-yt,
.show-compact .sidebar-yt{
    display: none;
}
.show-compact .compact-yt{
    display: block;
    width:5%;
    /* padding-top: 56px; */
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 56px;
}
.compact-yt ul li{
    list-style-type: none;
}
.compact-yt ul li a{
    display: block;
    font-size: 10px;
    line-height: 14px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.compact-yt ul li a i{
    font-size: 16px;
    line-height: 28px;
}
.crossbar{
    position: fixed;
    top: 54px;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
}
.main-content.show-compact .content-yt{
    flex-basis: 95%;
}